/*Estilização Menu*/
*{
	margin:0;
	padding:0;
	font-family: 'Open Sans';
}

.banner{
	background-size: 100%;
	background: url('../Images/banner.jpg');
}
body.bg{
	background: url('../Images/bgn4.jpg');
	background-size: 100%;
}

.menu{
	padding-top: 6px;
	text-align: center;
	background: rgba(16,16,16,.85);
}

.menu li{
	display: inline-block;
	padding: 10px;
}

.menu a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
}

.menu li.login{
	float: right;
}

.menu li.logout{
	float: right;
}

.menu li.home{
	text-align: center;
	float: left;
	padding-top: 5px;
}

.menu a:hover{
	background: #07889B;
	color: white;
	border-radius: 20PX;
}

/*Estilização Padrão*/



.left{
	float: left;
}

.right{
	float: right;
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50{
	width: 50%;
}

.w33{
	width: 33.3%;
}

.w25{
	width: 25%;
}

.clear{
	clear: both;
}

.container{
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.container h2{
	font-size: 35px;
	padding-top: -20px;
	color: white;
}

.container input[type=text]{
	background: #444;
	color: white;
	margin: 8px 0;
	width: 100%;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container input[type=submit]{
	background: #07889B;
	max-width: 800px;
	width: 100%;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container select {
	padding-left: 16px;
	background-color: #4F4F4F;
	text-align: center;
	color: white;
	margin: 8px 0;
	width: 100%;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container_quest{
	padding-left: 8px;
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.container_quest h2{
	font-size: 20px;
	padding-top: -20px;
	color: white;
}

.container_quest input[type=text]{
	text-align: center;
	background-color: #444;
	color: white;
	margin: 8px 0;
	width: 200px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

.container_quest input[type=submit]{
	background: #07889B;
	max-width: 800px;
	width: 100%;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.container_quest textarea.t_quest{
	padding-left: 16px;
	color: white;
	background-color: #444;
	border-radius: 7px;
	width: 500px;
	height: 150px;
}

.container_quest select {
	background-color: #4F4F4F;
	color: white;
	padding-left: 16px;
	margin: 8px 0;
	width: 200px;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container_quest select[name=select_dificuldade] {
	background-color: #4F4F4F;
	color: white;
	padding-left: 8px;
	margin: 8px 0;
	width: 200px;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}


.border{
	margin: auto;
	position: absolute;
	top: 53%;
	left:49%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 400px;
	height: 400px;
	text-align: center;
	background-color: rgba(16,16,16,.85);
	border-radius: 30px;
	border: none;
}

.border_questao{
	margin: auto;
	position: absolute;
	top: 55%;
	left:49%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 600px;
	height: 560px;
	text-align: center;
	background-color: rgba(16,16,16,.85);
	border-radius: 20px;
	border: none;
}

.box-login{
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.box-login h2{
	font-size: 20px;
	padding-top: -20px;
	color: white;
	text-align: left;
}

.box-login input[type=text]{
	color: white;
	background-color: #444;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	padding-left: 8px;
}

.box-login input[type=password]{
	color: white;
	padding-left: 8px;
	background-color: #444;
	margin: 8px 0;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}


.box-login input[type=submit]{
	float: right;
	background: #07889B;
	max-width: 500px;
	width: 70px;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.box-login input[type=checkbox]{
	float: left;
	margin-top: 8px;
	margin-left: 5px;
}

.box-login p{
	margin-top: 5px;
	font-size: 17px;
	font-family: arial;
	color: white;
	margin-left: 5px;
}

.box-login i{
	font-size: 70px;
	margin-bottom: 25px;
	color: white;
}

.box-login h3{
	color: white;
}

.box-cadastro{
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.box-cadastro h2{
	font-size: 20px;
	padding-top: -20px;
	color: white;
	text-align: left;
}

.box-cadastro input[type=text]{
	color: white;
	background-color: #444;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	padding-left: 8px;
}

.box-cadastro input[type=password]{
	color: white;
	padding-left: 8px;
	background-color: #444;
	margin: 8px 0;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

.box-cadastro input[type=email]{
	color: white;
	background-color: #444;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	padding-left: 8px;
}

.box-cadastro input[type=date]{
	color: white;
	background-color: #444;
	width: 200px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	padding-left: 8px;
	margin-top: 8px;
	float: left;
	color: white;
	margin-bottom: 8px;
}

.box-cadastro input[type=password]{
	padding-left: 8px;
	background-color: #444;
	margin: 8px 0;
	width: 300px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}
.box-cadastro input[type=submit]{
	float: right;
	background: #07889B;
	max-width: 500px;
	width: 80px;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.box-cadastro input[type=checkbox]{
	float: left;
	margin-top: 8px;
	margin-left: 5px;
}

.box-cadastro p{
	margin-top: 5px;
	font-size: 17px;
	font-family: arial;
	color: white;
	margin-left: 5px;
}

.box-cadastro i{
	font-size: 70px;
	margin-bottom: 25px;
	color: white;
}



::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder {
   color: white;
}

::-moz-placeholder {
   color: white; 
}

:-ms-input-placeholder {  
   color: white;
}