/*Estilização Menu*/
*{
	margin:0;
	padding:0;
	font-family: 'Open Sans';
}

.banner{
	background-size: 100%;
	background: url('../Images/banner.jpg');
}
body.bg{
	background: url('../Images/bgn6.jpeg');
	background-size: 100%;
}

.menu{
	padding-top: 6px;
	text-align: center;
	background: rgba(16,16,16,.5);
}

.menu li{
	display: inline-block;
	padding: 10px;
}

.menu a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
}

.menu li.login{
	float: right;
}

.menu li.home{
	text-align: center;
	float: left;
	padding-top: 5px;
}

.menu a:hover{
	background: #07889B;
	color: white;
	border-radius: 20PX;
}

/*Estilização Padrão*/



.left{
	float: left;
}

.right{
	float: right;
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50{
	width: 50%;
}

.w33{
	width: 33.3%;
}

.w25{
	width: 25%;
}

.clear{
	clear: both;
}

.container{
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.container h2{
	font-size: 35px;
	padding-top: -20px;
	color: white;
}

.container input[type=text]{
	margin: 8px 0;
	width: 100%;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container input[type=submit]{
	background: #07889B;
	max-width: 800px;
	width: 100%;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container select {
	text-align: center;
	color: #444;
	margin: 8px 0;
	width: 100%;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.container_quest{
	margin: auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.container_quest h2{
	font-size: 20px;
	padding-top: -20px;
	color: white;
}

.container_quest input[type=text]{
	margin: 8px 0;
	width: 200px;
	height: 35px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

.container_quest input[type=submit]{
	background: #07889B;
	max-width: 800px;
	width: 100%;
	height: 35px;
	font-size: 15px;
	color: white;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.container_quest textarea.t_quest{
	border-radius: 7px;
	width: 500px;
	height: 150px;
}

.container_quest select {
	color: #444;
	margin: 8px 0;
	width: 200px;
	height: 35px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	border: none;
}


.border{
	margin: auto;
	position: absolute;
	top: 53%;
	left:49%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 400px;
	height: 400px;
	text-align: center;
	background-color: rgba(16,16,16,.5);
	border-radius: 30px;
	border: none;
}

.border_questao{
	margin: auto;
	position: absolute;
	top: 55%;
	left:49%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 600px;
	height: 560px;
	text-align: center;
	background-color: rgba(16,16,16,.5);
	border-radius: 20px;
	border: none;
}
